@charset "UTF-8";
/* CSS Document */


/*=================================

	TABLE OF CONTENTS
	1. TYPOGRAPHY
		1.1 h2
		1.2 h3
		1.3 p
		1.4 naav
		1.5 blockquote
	2. FORM
	3. SITE STRUCTURE
	4. MEDIA
	5. BACKGROUNDS
	6. SINGLE COLUMNS
	7. PARTIAL COLUMNS
	
	8. media breakpoint @ 480
	
=================================*/


/*======== TYPOGRAPHY ========*/

body {
	font-family:"Open Sans";
}
h2, #hero h3, header a, footer nav a, #about a  {
	font-family:Oswald;
	text-transform:uppercase;
}
#hero {
	text-align:center;
	margin:0 auto;
	color:#FFF;
}
#roasts > .wrapper > div:first-child {
	margin-bottom:4.125rem;
}
#about-img .col-2-3 {
	padding-bottom:0;
}

/*---- h2 ----*/

h2 {
	font-size:56px;
	font-weight:700;
	display:inline-block;
	padding:0 1rem;
	border:solid .5rem #000;
	margin-top:0;
}
#roasts h2 {
	margin-bottom:1.75rem;
}

/*---- h3 ----*/

#hero h3 {
	font-size:72px;
	display:inline-block;
	padding:0 1rem;
	margin:0;
	border:solid 10px #FFF;
}
h3 {
	font-size:1.5rem;
	margin-bottom:0;
}
#newsletter h3, #contact h3 {
	display:none;
}

/*---- p ----*/

p {
	font-size:1.125rem;
}
#hero p {
	font-size:24px;
	font-weight:300;
	line-height:2.5rem;
	margin-bottom:2rem;
}
#hero p span {
	font-weight:700;
}
#about-img p {
	font-size:24px;
	font-weight:300;
	line-height:34px;
	color:#FFF;
}
#roasts p, #about-img p {
	margin:0;
}
#about > .wrapper p {
	margin-bottom:4.75rem;
}
#roasts div p:nth-child(3) {
	font-weight:300;
	margin-bottom:3.25rem;
}
.absl p {
	font-size:36px;
	font-weight:700;
	line-height:48px;
	color:#FFF;
}

/*---- a ----*/

a {
	text-decoration:none;
}
#hero a {
	font-size:1.5rem;
	color:#FFF;
}
#hero a, #roasts a, #about a, #contact a {
	font-weight:700;
	padding:.35rem 2.75rem;
	text-transform:uppercase;
}
#roasts a, #about a, #contact a {
	font-size:1.25rem;
	color:#000;
	border:solid .2rem #000;
}
#newsletter a, #hero a {
	color:#FFF;
	border:solid .2rem #FFF;
}
#roasts a:hover, #about a:hover, #contact a:hover {
	color:#FFF;
	background-color:#000;
}
#newsletter a:hover {
	color:#535049;
	background-color:#FFF;
}
#hero a:hover {
	color:#535049;
	background-color:#FFF;
}
#footer a {
	color:#FFF;
	text-align:center;
}
#footer a:hover {
	color:#89806F;
}
/*---- nav ----*/

nav ul {
	text-align:center;
}
nav li, footer li {
	display:inline-block;
	padding-right:3rem;
}
header nav li:nth-child(3) {
	vertical-align:middle;
}
nav a {
	color:#000;
}
nav a:hover {
	color:#ACACAC;
}
footer .col-1-3 {
	padding:0 !important;
}
footer ul {
	padding:0;
	margin-top:2.25rem;
}
footer li:last-of-type {
	padding-right:0;
}

/*---- blockquote ----*/

blockquote p {
	margin:0;
	padding-bottom:10px;
	font-size:1.75rem;
	font-weight:700;
	line-height:40px;
	color:#FFF;
}
blockquote footer p {
	font-weight:300;
}

/*======== FORM ========*/

label {
	display:none;
}
input, textarea {
	outline:none;
}
#about input {
	display:block;
	margin:0 auto;
	color:#FFF;
	text-align:center;
	padding:0 5.2rem .2rem;
	margin-bottom:1rem;
	border-bottom:solid .2rem #FFF;
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:#535049;
}
#contact input, #contact textarea {
	display:block;
	width:100%;
	border:solid .2rem #000;
	text-indent:.25rem;
}
#contact input {
	height:2.15rem;
	margin-bottom:1.5rem;
}
#contact input:last-of-type {
	margin-bottom:0;
}
#contact textarea {
	height:9.45rem;
}
#newsletter ::-webkit-input-placeholder {
   color:#FFF;
}

/*======== SITE STRUCTURE ========*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
}
[class*="col-"] {
	float: left;
	padding: 0 2rem 2rem 0;
}
[class*="col-"]:last-of-type {
	float: left;
	padding-right: 1.25rem;
}
.rel {
	position:relative;
}
.absl {
	position:absolute;
	z-index:100;
	width:100%;
}
.block-center {
	float:none !important;
	margin:0 auto;
	text-align:center;
}
figure {
	margin:0;
	padding-right:2rem;
}
#roasts .col-2-3 {
	padding-left:1rem;
}
.p-tb-l {
	padding:200px 0;
}
.p-tb-m {
	padding:9.375rem 0;
}
.p-tb-s {
	padding:5.625rem 0;
}
#contact .col-2-3, #contact .col-1-2:last-of-type {
	padding:0 0 3rem;
}
/*======== MEDIA ========*/

#roasts .absl {
	width:45%;
	left:22.5%;
	top:-5%;
}
#map-container .absl {
	display:flex;
	align-items: center;
    justify-content: center;
	background-color:rgba(0,0,0,.30);
	height:100%;
}
.col-1-3 img {
	width:100%;
}
nav img {
	width:6.25rem;
}
#footer img {
	width:8rem;
}

/*======== BACKGROUNDS ========*/

#hero {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
#review {
	background: url(../img/review-img.jpg) no-repeat bottom left fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
#about-img {
	background: url(../img/coffee-pots.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
#newsletter {
	background-color:#535049;
}
#footer {
	background-color:#535049;
}

/*======== SINGLE COLUMNS ========*/

.col-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
	padding: 1rem 0;
}
.col-1-4 {
	width: 25%;
	padding-bottom: 0;
}
.col-1-5 {
	width: 20%;
}
.col-1-6 {
	width: 16.66%;
}
.col-1-7 {
	width: 14.28%
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.11%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-12 {
	width: 8.33%;
}

/*======== PARTIAL COLUMNS ========*/

.col-2-3 {
	width: 66.66%;
}
.col-3-4 {
	width: 75%;
}
.col-2-5 {
	text-align: left;
	width: 40%;
}
.col-3-5 {
	width: 60%;
}
.col-2-6 {
	width: 16.66%;
}
.col-4-6 {
	width: 83.33%;
}
.col-3-7 {
	width: 14.28%;
}
.col-4-7 {
	width: 85.7%;
}
.col-3-8 {
	width: 37.5%;
}
.col-5-8 {
	width: 62.5%;
}
.col-3-9 {
	width: 11.11%;
}
.col-6-9 {
	width: 88.88%; 
}
.col-4-10 {
	width: 40%;
}
.col-6-10 {
	width: 60%;
}
.col-9-11 {
	width: 81.81%;
}
.col-2-11 {
	width: 18.18%;
}
.col-3-12 {
	width: 8.33%;
}
.col-9-12 {
	width: 91.67%;
}

@media screen and (max-width: 480px) {
	
	[class*="col-"] {
		float: left;
	}
	[class*="col-"]:last-of-type {
		float:left;
		padding-right:0;
	}
	.col-1-2 {
		width:100%;
	}
	.col-1-3 {
		padding:1rem 0;
	}
	#roasts .col-2-3 {
		width:66.66%;
	}
	.col-2-3 {
		width:100%;
	}
	#about .col-1-3 {
		width:100%;
	}
	nav ul {
		padding:0;
		margin-top:0;
	}
	#footer nav li {
		display:block;
		padding:0 0 1rem;
	}
	nav li:last-of-type {
		padding-right:0;
	}
	#hero h3 {
		font-size:3rem;
		border:solid .5rem #FFF;
	}
	blockquote {
		font-size:1.6rem;
	}
	p {
		font-size:1rem;
	}
	#contact .col-2-3, #contact .col-1-2 {
		padding:0 0 1.65rem;
	}
	#roasts .absl {
		width:45%;
		left:22.5%;
		top:-5%;
	}
}