@charset "UTF-8";
/* CSS Document */


/*=================================

	TABLE OF CONTENTS
	1. TYPOGRAPHY
		1.1 headlines
		1.2 p
		1.3 a
		1.4 nav
		1.5 blockquote
	2. FORM
	3. SITE STRUCTURE
	4. MEDIA
	5. BACKGROUNDS
	6. UTILITY
	7. SINGLE COLUMNS
	8. PARTIAL COLUMNS
	
	9. media breakpoint @ 480

=================================*/


/*======== TYPOGRAPHY ========*/

body {
	font-family:"Open Sans";
}
h2, #hero h3, header a, footer nav a, #about a  {
	font-family:Oswald;
	text-transform:uppercase;
}
#hero, footer a, ul, #about input{
	text-align:center;
}
#roasts a, #about a, #contact a, nav a {
	color:#000;
}
#hero, #about-img p, #about input, #map-container p, #hero a, #newsletter a, footer a, blockquote p {
	color:#FFF;
}
h2, #hero p span, #about-img span, #map-container p, #hero a, #roasts a, #about a, #contact a, blockquote p {
	font-weight:700;
}
#hero p, #about-img p, #roasts div p:nth-child(3), blockquote footer p {
	font-weight:300;
}
h2, #hero h3, #newsletter a, li {
	display:inline-block;
}
h3, #hero p, #hero a, #about-img p {
	font-size:1.5rem;
}
{
	Margin:0;
}
#hero {
	margin:0 auto;
}
#roasts > .wrapper > div:first-child {
	margin:0 0 4.125rem;
}
#about-img .col-2-3 {
	padding-bottom:0;
}

/*---- headlines ----*/

h2 {
	font-size:3.5rem;
	padding:0 1rem;
	border:solid .5rem #000;
	margin-top:0;
}
#roasts h2 {
	margin:0 0 1.75rem;
}
#hero h3 {
	font-size:4.5rem;
	padding:0 1rem;
	margin:0;
	border:solid .625rem #FFF;
}
h3 {
	margin:1rem 0 0;
}
#newsletter h3, #contact h3 {
	display:none;
}

/*---- p ----*/

p {
	font-size:1.125rem;
}
#hero p {
	line-height:2.5rem;
	margin:1rem 0 2rem;
}
#about-img p {
	line-height:2.125rem;
}
#roasts p, #about-img p {
	margin:0;
}
#about > .wrapper p {
	margin:1rem 0 4.75rem;
}
#roasts div p:nth-child(3) {
	margin:0 0 3.25rem;
}
#map-container p {
	font-size:2.25rem;
	line-height:3rem;
}

/*---- a ----*/

a {
	text-decoration:none;
}
#hero a, #roasts a, #about a, #contact a {
	padding:.35rem 2.75rem;
	text-transform:uppercase;
}
#roasts a, #about a, #contact a {
	font-size:1.25rem;
	border:solid .2rem #000;
}
#newsletter a, #hero a {
	border:solid .2rem #FFF;
}
#roasts a:hover, #about a:hover, #contact a:hover {
	color:#FFF;
	background-color:#000;
}
#hero a:hover, #newsletter a:hover {
	color:#535049;
	background-color:#FFF;
}
#newsletter a {
	margin:.5rem 0 0;
}
blockquote a:hover {
	text-decoration:underline;
}
footer li a:hover {
	color:#89806F;
}
/*---- nav ----*/

li {
	padding:0 3rem 0 0;
}
header nav li:nth-child(3) {
	vertical-align:middle;
}
nav a:hover {
	color:#ACACAC;
}
footer .col-1-3 {
	padding:0 !important;
}
footer ul {
	padding:0;
	margin:2.25rem 0 0;
}
footer li:last-of-type {
	padding-right:0;
}

/*---- blockquote ----*/

blockquote p {
	margin:0;
	padding:0 0 .625rem;
	font-size:1.75rem;
	line-height:2.5rem;
}

/*======== FORM ========*/

label {
	display:none;
}
input, textarea {
	outline:none;
}
#about input {
	display:block;
	margin:0 auto;
	padding:0 5.2rem .2rem;
	border-bottom:solid .2rem #FFF;
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:#535049;
}
#contact input, #contact textarea {
	display:block;
	width:100%;
	border:solid .2rem #000;
	text-indent:.25rem;
}
#contact input {
	height:2.15rem;
	margin:0 0 1.5rem;
}
#contact input:last-of-type {
	margin:0;
}
#contact textarea {
	height:9.45rem;
}
#newsletter ::-webkit-input-placeholder {
   color:#FFF;
}

/*======== SITE STRUCTURE ========*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
}
[class*="col-"] {
	float: left;
	padding: 0 2rem 2rem 0;
}
[class*="col-"]:last-of-type {
	float: left;
	padding-right: 1.25rem;
}
#roasts .col-2-3 {
	padding-left:1rem;
}
#contact .col-2-3, #contact .col-1-2:last-of-type {
	padding:0 0 3rem;
}
#hero, #map {
	padding:200px 0;
}
#roasts, #contact, #about > .wrapper .block-center {
	padding:9.375rem 0;
}
blockquote, #about-img, #newsletter, body > footer {
	padding:5.625rem 0 !important;
}
#map-container, #review-roast {
	position:relative;
}
#review-roast > div, #map-container > div:first-of-type {
	position:absolute;
	z-index:100;
	width:100%;
}

/*======== MEDIA ========*/

figure {
	margin:0;
	padding:0 2rem 0 0;
}
#review-roast > div {
	width:45%;
	left:22.5%;
	top:-5%;
}
#map-container > div:first-of-type {
	display:flex;
	align-items: center;
    justify-content: center;
	background-color:rgba(0,0,0,.30);
	height:100%;
}
.col-1-3 img {
	width:100%;
}
nav img {
	width:6.25rem;
}
footer .col-1-3 img {
	width:8rem;
}
#facebook, #twitter, #google-plus {
	background-image:url("../img/twin-finch-sprites.png");
	background-repeat:no-repeat;
	margin:1rem 0 0 0;
}
#facebook {
	padding:.125rem .875rem;
	background-position:0 0;
}
#facebook:hover {
	background-position:0 -26px;
}
#twitter {
	padding:.125rem 1rem;
	background-position:0 -52px;
}
#twitter:hover {
	background-position:0 -78px;
}
#google-plus {
	padding:.125rem 1rem;
	background-position:0 -104px;
}
#google-plus:hover {
	background-position:0 -130px;
}

/*======== BACKGROUNDS ========*/

#hero {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
#review {
	background: url(../img/review-img.jpg) no-repeat bottom left fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
#about-img {
	background: url(../img/coffee-pots.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
#newsletter {
	background-color:#535049;
}
body > footer {
	background-color:#535049;
}

/*======== UTILITY ========*/


.block-center {
	float:none !important;
	margin:0 auto;
	text-align:center;
}

/*======== SINGLE COLUMNS ========*/

.col-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
	padding: 1rem 0;
}
.col-1-4 {
	width: 25%;
	padding-bottom: 0;
}
.col-1-5 {
	width: 20%;
}
.col-1-6 {
	width: 16.66%;
}
.col-1-7 {
	width: 14.28%
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.11%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-12 {
	width: 8.33%;
}

/*======== PARTIAL COLUMNS ========*/

.col-2-3 {
	width: 66.66%;
}
.col-3-4 {
	width: 75%;
}
.col-2-5 {
	text-align: left;
	width: 40%;
}
.col-3-5 {
	width: 60%;
}
.col-2-6 {
	width: 16.66%;
}
.col-4-6 {
	width: 83.33%;
}
.col-3-7 {
	width: 14.28%;
}
.col-4-7 {
	width: 85.7%;
}
.col-3-8 {
	width: 37.5%;
}
.col-5-8 {
	width: 62.5%;
}
.col-3-9 {
	width: 11.11%;
}
.col-6-9 {
	width: 88.88%; 
}
.col-4-10 {
	width: 40%;
}
.col-6-10 {
	width: 60%;
}
.col-9-11 {
	width: 81.81%;
}
.col-2-11 {
	width: 18.18%;
}
.col-3-12 {
	width: 8.33%;
}
.col-9-12 {
	width: 91.67%;
}

@media screen and (max-width: 768px) {
	
	/*-------- TYPOGRAPHY --------*/
	
	/*---- headlines ----*/
	
	h2 {
		font-size:3rem;
	}

	#hero h3 {
		font-size:3rem;
		border:solid .5rem #FFF;
	}
	
	/*---- p ----*/
	
	p {
		font-size:1rem;
	}
	#map-container p {
		font-size:2.25rem;
	}
	
	/*---- a ----*/
	
	#about a {
		padding:.5rem 1rem;
	}
	
	/*---- nav ----*/
	
	header nav {
		font-size:.75rem;
	}
	header ul {
		padding:0;
	}
	header nav li {
		padding:0 1rem 0 0;
	}
	footer ul {
		padding:0;
		margin:0;
	}
	footer nav ul {
		padding:0 0 0 3.25rem;
	}
	footer li {
		display:block;
		padding:0 0 1rem;
	}
	nav li:last-of-type {
		padding:0;
	}
	
	/*---- blockquote ----*/
	
	blockquote {
		font-size:1.6rem;
	}
	
	/*-------- FORM --------*/
	
	#about input {
		padding:0 3.5rem .2rem;
		margin:0 auto;
	}
	
	/*-------- SITE STRUCTURE --------*/
	
	[class*="col-"] {
		float: left;
	}
	[class*="col-"]:last-of-type {
		float:left;
		padding-right:0;
	}
	#contact .col-2-3, #contact .col-1-2 {
		padding:0 0 1.65rem;
	}
	.col-1-3 {
		padding:1rem 0;
	}
	
	/*-------- MEDIA --------*/
	
	header img {
		width:5rem;
	}
	#review-roast > div {
		width:45%;
		left:30.5%;
		top:-2%;
	}
	
	/*-------- COLUMNS --------*/
	
	.col-1-2 {
		width:100%;
	}
	#roasts .col-2-3 {
		width:66.66%;
	}
	.col-2-3 {
		width:100%;
	}
	#about .col-1-3 {
		width:100%;
	}
}